@font-face {  
 font-family: "themify";
 src: url("../fonts/Oswald-Regular.ttf");    
}


.center{
width: 130px;
  margin: 40px auto;
  
}

html,body{
 display: flex;
 flex-direction: column;
 height: 100%;
    background-color:beige;
}

.PreguntasLabel div{
 font-family: sans-serif;
 font-size: 14px;
 font-weight: 500;
    
}


.relleno{
 padding: 20px;
}

.parametros{
 margin: 0 auto;
 width: 400px;
 background-color: #FFD600;
     
}

.preguntas{
 margin: 0 auto;
 width: 400px;
 background-color:#D7DBDD ;
  
}

.preguntas img{
    width:  50px;
    height: 50px;
    cursor: pointer;
     
}

.contenedor{
 margin: 0 auto;
 width: 75%;
 box-shadow: 6px 6px 5px #999;
 background-color: white; 
}

.tabla{
 display: table;
 font-family: "themify";
  width: auto;
    margin: 0 auto;
 }

.fila{
  display: table-row;
  width:auto; 
}

.col{
  display: table-cell; 
  width: auto;   
}

.field{
 font-family:"themify";
 border-radius: 4px;
 padding: 5px;   
 background-color:#1F1F1F;
 color:white;
 font-size: 16px;
 font-weight: 500;
 width:200px;   
}

.field:hover{
 border: 2px solid black;
 font-family:"themify";
 border-radius: 4px;
 padding: 5px;  
 background-color:white;
 color: black;
 font-size: 20px;
 font-weight: 600;
 width: 200px; 
}


.cuadroimg img{
 width:120px;
 height:auto;
 border: 2px solid lightgray;
 border-radius: 4px;    
    
}

.itemarticle{
  font-family: themify;
  font-size: 14px;
  color:darkred;
  font-weight: 300;    
}

.ventana{
 background: rgba(30,100,100,.7);
 width: 30%;
 color:rgba(255,255,255,1);
 font-family: sans-serif;
 font-size: 18px;
 text-align: center; 
 min-height: 180px;
 border-radius: 20px;
 left:35%;
 top:40%;
 position: fixed;
 display: none;       
 -webkit-box-shadow: -4px 24px 130px -42px rgba(0,0,0,0.66);
 -moz-box-shadow: -4px 24px 130px -42px rgba(0,0,0,0.66);
 box-shadow: -4px 24px 130px -42px rgba(0,0,0,0.66);
}


#cerrar{
 width:100%;
 background: #b4ddb4; /* Old browsers */
 background: -moz-linear-gradient(top,  #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome,Safari5.1-6*/
 background: linear-gradient(to bottom,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
 border-radius: 20px 20px 0 0;    
}


#vent #mensaje{
  font-weight: 700;
  margin-top: 30px;
  width:95%;
}


#main-header {   
 height: auto;    
 width: 100%;
 margin: 0 auto;
}  


#main-header .sub-header{
width: 100%;
height: auto;
background-color: #FFD600;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 ); /* IE6-9 */
}


.txtcantidad {
 width: 60px; 
 height: 30px;
 font-size: 16px;  
 font-family: "themify";
}


#main-header .sub-header .titulo{
width: 100%;
height: auto;
font-size: 20px;
text-align: center;
color:#000;
line-height: 30px;
font-family: "themify"; 
font-weight: 700;    
}

#main-header .header-info .resultado{
width: 50%;
height: 50px;
font-size: 16px;
float: right;
font-weight: 600;
color: #FFD600;
line-height: 30px;
font-family: "themify";
text-align: right;
padding: 10px;
}

#main-header .header-info .userinfo{
width: 50%;
height: 50px;
font-size: 13px;
float: right;
font-weight: 500;
color: white;
line-height: 30px;
font-family: "themify";
text-align: left;
padding: 10px;
}

#index-header { 
 height: auto;    
 width: 100%;
 margin: 0 auto;   
 background: white; 
}  

#index-top { 
 height: 60px;    
 width: 100%;
 margin: 0 auto;   
 background: #b4e391; 
 background: -moz-radial-gradient(center, ellipse cover,  #b4e391 0%, #61c419 50%, #b4e391 100%); 
 background: -webkit-radial-gradient(center, ellipse cover,  #b4e391 0%,#61c419 50%,#b4e391 100%); 
 background: radial-gradient(ellipse at center,  #b4e391 0%,#61c419 50%,#b4e391 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); 
}  


#index-content{
 width:100%;
 margin: 0 auto;
 box-shadow: 0 0 10px rgba(0,0,0,.1);  
}


#header img{    
  background: url(css/header.png); 
  width:100%;
  height:auto;
}

#logotipo img{    
 background: url(css/logotipo.png);
 float :right;
 height:70px;
 width: 70px;
}
 
#main-header a{
 margin-top: 0;
 color: white; 
}

#main-content{
 width: 100%;
 margin: 0 auto;
 min-height: 500px; 
}


#main-content table{
 margin: 0 auto;
 width: auto;
    
}

#main-header div{
  color:yellow;
  width:100%;
  border-color:#4cae4c;
  font-weight: bold; 
  font-size: 17px;  
}

.buscar{
 color:#000;  
 width:100%;
}


.msg{ 
 margin: 0 auto;
 padding:20px; 
 background: white;
 border-radius: 20px 0 20px 0;
 font-family:"themify";
 font-weight: bold;
}

.links{
 padding: 20px;    
 font-weight: bold;
 text-align: justify;
 font-family: arial;
 height: 50px;
 margin:0 auto;
 padding: 10px;    
}


.picture img{
 width:300px;
 height: auto;
 padding: 30px; 
    
}


.fondolinks{
      width: 90%;
    height: auto;
    background-color:black;
    margin: 0 auto;    
    align-items:center; 
   box-shadow: 2px 2px 2px 5px #999; 
}


.fondolinks:hover{
    width: 90%;
    height: auto;
    margin: 0 auto;    
    align-items: center;
    border:4px solid white;
    border-radius: 20px;
    
    
}

.fnd{
  width:100%;
  min-height: 500px;   
  margin: 0 auto;
  background-color: #FFD600; 
  padding: 20px;       
    
}
.picture img{
 width:300px;
 height: auto;
 align-content: center;
 margin: 0 auto;  
}

.msg-footer{
text-align: center;
 border-radius: 20px 0 20px 0;
 height: 70px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1a3800+0,2a5e00+100 */
background: #1a3800; /* Old browsers */
background: -moz-linear-gradient(top,  #1a3800 0%, #2a5e00 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1a3800 0%,#2a5e00 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1a3800 0%,#2a5e00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a3800', endColorstr='#2a5e00',GradientType=0 ); /* IE6-9 */
 
}

.msg-footer a {
  padding: 10px;
  color:white; 
  font-weight: bold;
  text-decoration: none;
}


.select-css {

 font-size: 16px;
 font-family: 'Arial', sans-serif;
 font-weight: 400;
 color: #444;
 width: 100%; 
 border: 1px solid #aaa;
 box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
 border-radius: .3em;
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
 background-color: #fff;

}

.select-css:hover {
 border-color: #888;
}

.select-css:focus {
 border-color: #aaa;
 box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
 box-shadow: 0 0 0 3px -moz-mac-focusring;
 color: #222; 
 outline: none;
}

.select-css option {
 font-weight:normal;
}

/************
//-----------------------------
// FORMULARIO LOGIN /FORMULARIO REGISTRO
//-----------------------------
************/
.form{  
 width:300px;
 margin: 20px auto;

background-color: #FFD600;

 border-radius: 20px 0 20px 0;
 box-shadow: 0 0 10px rgba(0,0,0,.8);
 
}


#form-header{
 font-weight: 500;    
 text-align: center;
 border-radius: 20px 0 20px 0;
 height: auto;   
 background: #4c4c4c; /* Old browsers */
 background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
 color: #FFD600;
 font-family: "themify";
 font-size: 30px;
 font-weight: 600;
}

#form-header a{
 color: #FFD600;
 font-family: "themify";
 font-size: 30px;
 font-weight: 600;
 text-decoration: none;
}

.mensaje{
  font-family: "themify";    
  background-color:#FFD600;
  font-size: 18px;
  font-weight: 500;
}

.buttonselect{
 background-image: url(selectoff.png) ;
 background-color: #FFD600;
 width: 40px;
 height: 40px;
 background-repeat: no-repeat;
 align-content: center;
 border-radius: 10px; 
 padding: 10px;
 border: 4px solid black;   
}

.buttonselect:hover{
 background-image: url(selecton.png) ;
 background-color: black;
 width: 40px;
 height: 40px;
 background-repeat: no-repeat;
 align-content: center;
 border-radius: 10px; 
 padding: 10px;
 border: 4px solid #FFD600;   
}

.detallecarta{
 width:100%;
 background: #fff;
 margin:0 auto;    
}

.detallecarta a img{    
    width: 85%;;
    height: auto;
}

.imagencarta {
 width:50px;;
 height: 50px;;
 text-decoration: none;
 fill: #FFD600;
 color: #FFD600;
 background-color: black;
 border-style: solid;
 
 border-width: 4px 4px 4px 4px;
 border-radius: 6px 6px 6px 6px;
 background-image: url('addcarrito2.png');
    
}

.imagencarta:hover {
 width:50px;;
 height: 50px;;
 text-decoration: none;
 fill: #000000;
 color: #000000;
 background-color: #FFD600;
 border-style: solid;
 border-width: 4px 4px 4px 4px;
 border-radius: 6px 6px 6px 6px;

     background-image: url('addcarrito.png');
cursor:pointer;    
}
    

.imagencarta  img{
 width:50px;
 height: 50px;
display: none;
 }

.imagencarta h4{
   
   font-weight: 600;
    font-size: 14px;
  
    line-height: 50px;
    font-size: 30px;
}



.textocarta{
 width: 90%;
 height: auto;
 color:black;
 text-align:center ;   
}

.registrate {
 margin: 0 auto;
 border-radius: 10px;
 width:80%;
}

.registrate div h3{
 font-weight: 800;
 font-size: 14px;
 text-align:center;   
color:black;
padding: 5px;    
}

#form table{
  margin: 0 auto;
  text-align: center;
  padding: 20px;
     
}

#main-content table{
   width:95%;   
    padding: 10px;
  
}

#main-content table tr:nth-child(even){
  background-color: #d8d8d8;
  padding-top: 10px;
  padding-bottom: 10px;
}

#main-content  table tr:hover {
  background-color: #b4df5b;
}



#main-content  table th { 
  text-align: center;
  background-color: black;
  color: white;
  font-size: 1em;
}

#main-content  table tfoot {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: darkgreen;
  color: white;
  font-size:1em;
}

#main-content table a {    
  text-decoration: none;
  font-weight: 700;  
}

.header-info{
 margin-top: 0px;
 height: 50px;
 width: 100%;
 background: black;
 color: yellow;
}


.header-info a{
 float: left;
 text-decoration: none;
 padding: 0 5px;
 margin: 5px 0px;	
 font-family: sans-serif;   
 float: left;   
 color: yellow;
}

#main-footer {
background-color: black;
color:white;
text-align: center;
padding: 20px;
margin-top: 0px;
font-size:11px;
font-family: "themify"  ;  
color:#FFD600;
    margin-bottom: 70px;
}

#ciudades{    
    width: 100%;
    font-size: 17px;
    font-family: sans-serif;
    margin :0 auto;
}

#ciudades div{
    font-size: 14px;
}


#main-footer p {
 margin: 0;
}
    
#main-footer a {
 color: white;
}

.total{ 
  left: 0px;
  width: auto;
  height: 20px;
  background:#000000;   
}



#item img{
  width: 100px;
  height:80px;
  border-radius:10px ; 
}


#itemcategoria{
    padding:10px;
}

#itemcategoria img{
  width: 200px;
  height:auto;
  border-radius:20px ; 
}

.logo img{
  width: 35%;
  height:auto;
  margin:90px auto;
  align-content: center;
}



#main-content table{    
  font-family:  Arial, Helvetica, sans-serif;
  border-collapse:collapse;   
  width: 95%;
  margin: 20px auto;
  padding: 10px;
    border-style: solid 1;
      
}

.registro{    
  font-family: Arial;
  width: 200px;
  margin: 0 auto;
  background:#fff;
}


.fondodelete{     
   
    border-style: solid;
    border-width: 4px ;
    border-radius: 6px;
    width: 40px;
    height: 35px;
}

.fondodelete:hover{
     
    background-color: #FFD600;
    border-style: solid;
    border-width: 4px ;
    border-radius: 6px;
    width: 40px;
    height: 35px;
}


.fuenteminima{
  font-size:medium;
  font-family:Arial, Helvetica, sans-serif;
 }
 
.fuenteprecio{
  font-size:20px;
  font-family:"themify";
  font-weight: bold;    
 }
 
.fondoprecio{
 color:#fff;
 background-color:red;
 border-color:#4cae4c;
 font-weight: bold; 
 border-radius: 10px;
 height:40px;
 padding: 5px;
}

 .division{
 color:#fff;
 background-color:#CCFF00;
 border-color:#4cae4c;
 font-weight: bold; 
 border-radius: 5px; 
}

 .fondotextoprod{
 color:#fff;
 background-color:#006666;
 border-color:#4cae4c;
 font-weight: bold; 
 border-radius: 5px;
 height:40px;
 display: flex;
 justify-content: center;
 align-items: center; 
}
 .fondocarta{
 color:#fff;
 background-color:#E1E1E1;
 border-color:#4cae4c;
 font-weight: bold; 
 border-radius: 20px; 
}



.centrado{
  text-align:center;
}

.fuentemedia{font-size:12px; font-family:Arial, Helvetica, sans-serif;}

.img img{
 width:85px;
 height: auto;
 cursor: pointer;
}

h1{
  font-size: 2.3em;
  line-height: 1.3em;
  margin: 15px 0;
  text-align: center;
  font-weight: 300;
}

p{
  margin: 0 0 1.5em 0;
}


   
#logo-header {
 float: left;
 padding: 15px 0 0 20px;
 text-decoration: none;
}
 
#logo-header:hover {
 color: #0b76a6;
}
    
#logo-header .site-name {
 display: block;
 font-weight: 700;
 font-size: 1.2em;
 }
    
 #logo-header .site-desc {
  display: block;
  font-weight: 300;
  font-size: 0.8em;
  color: #999;
 }
    



a {
 text-decoration: none;
 color:#000;
font-weight: 400;
}

.btn-menu {
 display: none;
 padding: 20px;
 background: #0d2c44;
 color:#fff;
}

.btn-menu .icono {
 float: right;
}

.contenedor-menu {
 width: 20%;
 min-width: 300px;
 margin: 50px;
 display: inline-block;
 font-family: 'Roboto', sans-serif;
 line-height: 18px;
}

.contenedor-menu .menu {
	width: 100%;
}

.contenedor-menu ul {
 list-style: none;
}

.contenedor-menu .menu li a {
 color:#494949;
 display: block;
 padding: 15px 20px;
 background: #e9e9e9;
}

.contenedor-menu .menu li a:hover {
 background: #1a95d5;
 color:#fff;
}

.contenedor-menu .menu .icono {
 font-size: 12px;
 line-height: 18px;
}

.contenedor-menu .menu .icono.izquierda {
 float: left;
  margin-right: 10px; 
}

.contenedor-menu .menu .icono.derecha {
 float: right;
 margin-left: 10px; 
}

.contenedor-menu .menu ul {
 display: none;
}

.contenedor-menu .menu ul li a {
 background: #424242;
 color:#e9e9e9;
}

.contenedor-menu .menu .activado > a {
 background: #1a95d5;
 color:#fff;
}

	
.btngrabar{
 color: #FF0000; 
 border: 2px #0000FF solid; 
 padding: 6px 6px 6px 12px; 
 background-color: #FFFF99; 
 font-family:Arial; 
 font-size: 8px; 
 font-weight: bold; 
 text-decoration: none; 
 background-image: url(grabar.png); 
 background-repeat: no-repeat; 
 border-radius: 5px; 
}

.msgFormPedido{
 width:100%;
 color:white;
 padding: 5px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#006e2e+0,006e2e+100;Green+Flat+%233 */
 background: #006e2e; /* Old browsers */
 background: -moz-linear-gradient(top,  #006e2e 0%, #006e2e 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  #006e2e 0%,#006e2e 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom,  #006e2e 0%,#006e2e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */
 font-family: sans-serif;
 height: auto;
 font-weight: bold;
 border-radius: 10px;
}

.btnaceptar{
 background: dodgerblue;
 color:white;
 border: 1px rgb(0,255,0) solid; 
 padding: 10px; 
 width:150px;
 font-family:sans-serif; 
 font-size : 14px; 
 font-weight: 700;
 align-content: center;
 text-decoration : none; 
 border-radius: 10px;
}	

.btnaceptar:hover{
 background: orange;
 color:#000;
 border: 1px rgb(0,255,0) solid; 
 padding: 10px;
 width:150px;
 font-family:sans-serif ; 
 font-size : 14px; 
 font-weight: 700;
 align-content: center;
 text-decoration : none;
 border-radius: 10px;
}




.form-header h3{ 
font-weight: 500;    
}


.mcontenedor{  margin:0 auto;
  width: 100%;
}
.mcontenedor article .btn-abrir-popup{
  padding: 0 20px;
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
  border:none;
  color:#fff;
  background: #5E7DE3;
  border-radius: 3px;
  font-family: arial;
  font-size: 16px;
  cursor:pointer;
  transition: .3s ease all;   
}

.mcontenedor article .btn-abrir-popup:hover{
  background: rgba(94,125,227,.9);    
}


.overlay{
 background: rgba(0,0,0,.3);
 position:fixed;
 top:0;
 bottom:0;
 left: 0;
 right: 0;
 display:flex;
 align-items: center;
 justify-content: center;  
}

.popup{
  background: #f8f8f8;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0,.3);
  border-radius: 3px;
  font-family: arial;
  padding: 20px;
  text-align: center;
  width: 600px;
}


.popup form .mcontenedor-inputs {
	opacity: 0;
}

.popup form .mcontenedor-inputs input {
 width: 100%;
 margin-bottom: 20px;
 height: 52px;
 font-size: 18px;
 line-height: 52px;
 text-align: center;
 border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
 padding: 0 20px;
 height: 40px;
 line-height: 40px;
 border: none;
 color: #fff;
 background: #5E7DE3;
 border-radius: 3px;
 font-family: 'Montserrat', sans-serif;
 font-size: 16px;
 cursor: pointer;
 transition: .3s ease all;
}


/***********************/


.button {
  width: auto;
  height: 45px;
  background-color: #FFD600;
  border-radius: 6px;
  padding: 10px;
  font-family: "themify";
  font-weight: 600;
  color: black;
  text-align: center;
  padding: 5px;
}

.button:hover { 
  height: 45px;
  background-color: black;
  border-radius: 6px; 
  font-weight: 600;
  border: 4px solid #FFD600;
  border-width: 4px 4px 4px 4px;
  color:#FFD600;    
}

.link {
  border-radius: 6px;
  font-family: "themify";
  font-weight: 600;
  color: white;
  text-align: center;
  height: 70px;
  text-decoration: none;
  padding: 5px;
  font-size: 30px;      
}

.link:hover { 
  background-color: black;
  font-family: "themify";
  border-radius: 6px; 
  font-weight: 600;
  border: 10px solid #FFD600;
  border-width: 4px 4px 4px 4px;
  color:#FFD600;   
  height: 70px;
  width: 100px;
  text-decoration: none;
  font-size: 30px; 
}

.button a{
  text-decoration: none;
  color: black;  
}

.button:hover  a{
   text-decoration: none;
   color: #FFD600;    
}

.button a:hover{
   text-decoration: none;
    color: #FFD600;
    
}

.buttonprecio {
  width:150px;
  height: 45px;
  background-color:#FFD600; 
  border-radius: 6px;
  border-color: black;
  border: solid 4px;
  padding: 10px;
  font-size: 16px;  
  color:black;
  font-weight: 900;
  font-family:'themify';
}

.button1 {
  width: 95%;
  height: 45px;
  background: dodgerblue;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.button1:hover {
  width: 95% ;
  height: 45px;
  background: orange;
  border-radius: 6px;
 color:black;
    cursor: pointer
}
.button1 a{
    font-size: 14px;
    font-family: "themify";
    
}

/* ------------------------- */
/* SCREEN SMALL DEVICE
/* ------------------------- */


@media screen and (max-width: 800px) {	     
    
.contenedor-menu {
 margin: 0;
 width: 100%;
 position: fixed;
 top:0;
 z-index: 1000;
}
    
#main-content table{    
  font-family:  Arial;
  border-collapse: collapse;
  width: 95%;
  margin: 0 auto;
 } 

    
.btn-menu{
 display: block;
}
    
#main-header {    
 width: 100%;
 margin: 0 auto;
 height: auto;
 background: #b4e391; 
 background: -moz-radial-gradient(center, ellipse cover,  #b4e391 0%, #61c419 50%, #b4e391 100%);
 background: -webkit-radial-gradient(center, ellipse cover,  #b4e391 0%,#61c419 50%,#b4e391 100%);
 background: radial-gradient(ellipse at center,  #b4e391 0%,#61c419 50%,#b4e391 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); 
}
        
.contenedor-menu .menu {
 display: none;
}

 #main-content header,
 #main-content .content {
  padding: 20px;
}
   
  
#index-header { 
 height: auto;    
 width: 100%;
 margin: 0 auto;   
 background: white;  
}
    
.registrate {
 margin: 0 auto;
 border-radius: 10px;
 width:100%;
 }    
    
.ventana{
background: rgba(0,0,0,.9);
 width: 80%;
 color:rgba(255,255,255,1);
 font-family: sans-serif;
 font-size: 18px;
 text-align: center;
 
 min-height: 180px;
 border-radius: 20px;
 left:10%;
 top:40%;
 position: fixed;
 display: none;       
    -webkit-box-shadow: -4px 24px 130px -42px rgba(0,0,0,0.66);
-moz-box-shadow: -4px 24px 130px -42px rgba(0,0,0,0.66);
box-shadow: -4px 24px 130px -42px rgba(0,0,0,0.66);
}
    
}    


.form-content{
  width:350px; 
  margin:0 auto; 
  border-radius: 20px;  
  padding: 10px;
}

.form-content .form-header h2{
  font-size: 18px;
  font-family:inherit;
} 

.form-header{
  background-color: chartreuse;
  border-radius: 20px 20px 0 0 ;  
}

.form-footer{
  background-color: chartreuse;   
}



.form-content div{
  padding:2px;
}


.form-content div input[type="text"] {
  width: 90%; 
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
  padding: 2px;
  font-weight: 600;
  font-family: arial;
}

.form-content div select{
  width: 90%; 
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
  padding: 2px;
  font-weight: 700;
  font-family: arial;
}


.form-content div input[type="number"] {
  width: 90%; 
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
  padding: 4px;
  font-weight: 600;
  font-family: arial;
}

#cajabusqueda{
 width: 100%;
 padding: 6px;
 border-radius: 10px;    
}

#menu-h a{
 display:inline-block;
 color:#fff;
 padding: 10px;
 text-decoration: none;
 background: #000;
 justify-content:center;
 font-size: 12px;
 border-style: solid;
 border-color: lawngreen;
 border-radius: 10px;
 border-width: medium;
 font-family: arial;
 font-weight: 600;   
}

#logo{    
 max-width:500px;    
 animation: 1s entradalogo 1;
 padding: 30px;
}

#logo img{
 width: 20%;
 height: auto;   
 margin: 0 auto; 
}

#logo img:hover{    
  filter:grayscale(1);
}

#menu-h{
  width: 98%;
  margin:0 auto;   

}


#menu-h a:hover{
   background: #069;
}



#menu-h div{
  display: none;
}


#menu-h a:hover{
 background:background: #000;   
}



#menu_bar h1{
 color:white;
 font: bold 25px;
 font-family: Arial;
}


#abrir_menu{
    display: none;
    float:right;
    color:$6e6e6e;
    font-size: 20px;
    margin-top: -45px;
    padding-right: 20px;
    cursor: pointer;
    font-weight: 200;
}

#cerrar_menu{
    float:right;
    color:#6e6e6e;
    font-size: 35px;
    padding: 10px;
    cursor: pointer;
    opacity: .6s;
}

#linea{    
 width: 100%;
 background: -moz-linear-gradient(top,  #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); 
 background: -webkit-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); 
 background: linear-gradient(to bottom,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
 height: 10px;
}


.item{
  padding: 10px;    
}

.#item img{
  width: 140px;
  height:auto;
  border-radius:10px ;      
}



#itemcategoria{
    padding:10px;
}

#itemcategoria img{
  width: 140px;
  height:auto;
  border-radius:20px ; 
}


#banner{    
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    
align-content: center;

}

#banner img{  
    width: 100%;
    height: auto;        
}

.contenido p{
    padding: 20px;
    text-align: justify;    
    font-size: 20px;
    font-family: sans-serif;
    
   
    
}

.contenido h3{    
    font-weight: 500;
    margin-left: 50px;
    font-size: 25px;
    color:yellow;
}


#menu-h a:hover img{
   animation: 1s rotacion 1; 
}

#menu-h img{
    margin-right: 10px;
}

.contenido{
 color:black;
 font-family:arial;
 width:100%;
 height:auto;
 margin:0 auto;
     background: white;
}

#menusession{
float: right;
}

#menusession a{
text-decoration: none;
font-size: 15px;
color: yellow;
padding: 10px;
background: blue;
border-radius: 10px;
margin: 10px;
}

.box{
 margin: 0 auto;
 width:auto;
 height: 50px;
}
.box search{
 width:100%;
}



#buscar{    
 background: #8fc400; /* Old browsers */
 background: -moz-linear-gradient(top,  #8fc400 0%, #8fc400 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom,  #8fc400 0%,#8fc400 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 ); /* IE6-9 */  
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 3px;
 padding-bottom: 3px;    
}

/*PIE DE PAGINA*/
footer{

 color:#fff;
 text-align: center;
 padding: 40px;
 box-sizing: border-box;
 font-family: arial;
 font-size: 15px;    
}


/**************************/
@media screen and (max-width: 950px){    
   .contenedor{
        width:75%;
    }    
	  
}


/**************************/
@media screen and (max-width: 800px){ 
    
   .utilidad,
   .dscto{
      display: none;
    }
    
       
     .contenedor{
        width:100%;
    }
}


@media screen and (max-width: 700px){      
  .utilidad,
  .dscto,
  .iva{
    display: none;
   }
   
   .item img{
    width: 95%;
    height:auto;
    border-radius:10px ;      
  }
    
  .contenedor{
        width:100%;
    }    
}

@media screen and (max-width: 600px){      
    .utilidad,
    .dscto,
    .iva,
    .costo{
       display: none;
     }
    
  
    
	.item img{
     width: 95%;
     height:auto;
     border-radius:10px ;      
     } 
    
    .contenedor{
        width:100%;
    }
}


@media screen and (max-width: 550px){      
    .utilidad,
    .dscto,
    .iva,
    .costo,
    .cantidad{
     display: none;
     }
    
     
	.item img{
     width: 85%;
     height:auto;
     border-radius:10px ;      
     }
    
    .contenedor{
        width:100%;
    }
    
    
}

@media screen  and (max-width:350px){    
 
.contenedor{
        width:100%;
    }    
    
 .txtcantidad {
    width: 100px; 
    height: 40px;
    font-size: 30px;   
 }
 #item  img{
    width:200px;
    height: auto;
 }
    
.imagencarta img{
    width:90px;
    height: auto;
    }  
    
    table, 
    thead, 
    tbody, 
    th, 
    td, 
    tr {
	display:block;
 }
 thead tr {
	position: absolute;
/*	top: -9999px;
	left: -9999px;*/
 }
    
     
tr{
  margin: 0 0 0 0;
}
      
tr:nth-child(odd) {
   background: rgba(100,100,100,.1);                                                         
   border-radius: 10px;
   padding-top: 0px;
 }
    
td{
 border: none;	        
 position:relative;
 padding-left: 5%;
 width: 100%;
 right: 5%;
 font-weight: 800;
 text-align: center;
 }

td:before {
 position: absolute;
 top: 0;
 left: 5%;
 width: 35%;			
 white-space: nowrap;
 color:green;
 text-align: right;
}

    
 .contenido td:nth-of-type(1){ 
    width: 100%;
    left: -38%;
  } 
    }

td{
    
font-size: 12px;  
    font-family: 'arial';
}
 .item img{
   width: 75%;
   height:auto;
   border-radius:10px ;      
 }  
    
  
    
 #abrir_menu{
  display: block;
}    
    
#menu_bar{
 padding:10px 0px 0px 10px;
 background:green;
 display: block;  
}    
    
#menu-h{        
 position:fixed;        
 width:200px;
 height:100%;
 margin-top:0;
 top:0;
 background: #111;
 -webkit-box-shadow:1px 1px 5px #000 ;
 -moz-box-shadow:1px 1px 5px #000 ;
 -ms-box-shadow:1px 1px 5px #000 ;
 -o-box-shadow:1px 1px 5px #000 ;    
 box-shadow:1px 1px 5px #000 ;
 right: -100%;       
 } 
    
#menu-h a{    
 display: block;
 border-radius: 0px;
 border-style: 1px;
 border-color: lawngreen;
 border-width: 1px;
}
     
   
#menu-h div{
 display:block;
}       
   
    
 .contenido td:nth-of-type(2):before { content: "Codigo"; }
 .contenido td:nth-of-type(3):before { content: "Descripcion"; }
 .contenido td:nth-of-type(4):before { content: "Cantidad"; }
 .contenido td:nth-of-type(5):before { content: "Costo  $"; }
 .contenido td:nth-of-type(6):before { content: "Precio $"; }
 .contenido td:nth-of-type(7):before { content: "IVA"; }
 .contenido td:nth-of-type(8):before { content: "Descto"; }
 .contenido td:nth-of-type(9):before { content: "Utilidad"; }
 .contenido td:nth-of-type(10):before{ content: "Eliminar"; }
 .contenido td:nth-of-type(11):before{ content: "Editar"; }

 .utilidad,
 .dscto,
 .iva,
 .cantidad,
 .costo{
   display:none;
 }    
}

@keyframes entradalogo{
    0%{
     transform: translateX(100px);
    }    
}


@keyframes rotacion{
    0%{
        transform: rotate(270deg);
    }    
}